body {
  font-size: 16px;
  color: #fff;
  background-color: #001f3f;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #F012BE;
  border-radius: 0;
  border: 0;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #fff;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.container{
  padding-top: 100px;  
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #fff;
  text-align: center;
}
#nav-list a:hover {
  background: #0074D9;
}

#heading{
  padding-bottom: 20px;
}

#box1{
  padding-bottom: 10px;
}

#box2{
   padding-bottom: 10px;
}

#box3{
   padding-bottom: 10px;
}

#s1{
  border: 1px solid black;
  background-color:#003300 ;
  padding: 3px;
  pad
}

#s2{
  border: 1px solid black;
  background-color: #B22222;
  padding: 3px;
}

#s3{
  border: 1px solid black;
  background-color:#1344a0;
  padding: 3px;
}